#banner {
	background: #1a233a;
	min-height: 450px;
	position: relative;

	.images {
		.mini1 { 
			position: absolute;
			left: 0;
			top: 25px;
			z-index: 6;
		}
		.mini2 { 
			position: absolute;
			right: -75px;
			top: 35px;
			z-index: 1;
		}
		.mini3 { 
			position: absolute;
			right: -100px;
			bottom: -140px;
			z-index: 1;
		}
	}
	.info {
		position: absolute;
		top: 45%;
		left: 50%;
		color: #fff;
		font-family: 'Montserrat', sans-serif;
	}
}

// Breakpoints
@media (max-width:1100px){
	#banner {
		.images {
			width: 335px;
		}
		.info {
			left: 420px;
		}
	}
}
@media (max-width:900px){
	#banner {
		.images {
			width: 260px;
		}
		.info {
			left: 345px;
		}
	}
}
@media (max-width:600px){
	#banner {
		.images {
			width: 100%;
			text-align: center;
			margin: 0 0 120px;

			.mini2{
				right: 0;
			}
			.mini3{
				right: 0;
			}
		}
		.info {
			position: static;
			display: block;
			text-align: center;
			padding: 45px 0;
		}
	}
}